TELEGRAM_BOT_TOKEN=your:bot_token
TELEGRAM_WEBHOOK_URL=https://your-domain.com/telegram/webhook
TELEGRAM_WEBHOOK_TOKEN=your-webhook-token
TELEGRAM_WEBHOOK_MAX_CONNECTIONS=80

AGENT_SERVICE_APP_ID=2106
AGENT_SERVICE_PRIVATE_KEY=10
AGENT_SERVICE_GROUP__SOME_GROUP__GROUP_ID=10
AGENT_SERVICE_GROUP__SOME_GROUP__ORG_ID=10
AGENT_SERVICE_GROUP__SOME_GROUP__CAMPAIGN_ID=10

COMPUTE_ENGINE_URL=https://ai-event.cere.io

CERE_WALLET_URL=https://api.wallet.stage.cere.io
CERE_WALLET_TOKEN=S2S_TOKEN

DDC_BUCKET=123
DDC_MNEMONIC=mneminic
DDC_CDN_URL=https://cdn.testnet.cere.network